html {
    background-color: rgb(112, 197, 253);
}

/*muokkaa pääikkunan kokoa*/
.main-window {
    max-height: 100vh;
    max-width: 100vw;
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    grid-template-rows: auto;
    width: 100vw;
}

.Login {
    margin: auto;
}

.Name {
    margin-top: 10%;
}

.nameboard {
    grid-column-start: 3;
    grid-column-end: 3;
}

.top-10 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row: 2;
}

.turbine {
    grid-column-start: 3;
    grid-column-end: 3;
}

.gameButton {
    grid-column-start: 3;
    grid-column-end: 3;
    margin: 0 auto;

}

.test_class {
    color: white;
}

.store {
    grid-column-start: 2;
    grid-column-end: 2;
}

p {
    margin: 0;
}