.primary, font-large {
    font-size: large;
}

.text-bold {
    font-weight: bold;
}

.translucent {
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5; 
}

