#container {
    border: solid 2px black;
    border-radius: 1rem;
    background:  rgb(134, 250, 123);
    width: fit-content;
    text-align: center;
    padding: 1rem;
}

#board-text {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
    padding: .5rem;
    background: rgb(255, 255, 255);
    border: dotted 2px  rgb(255, 150, 38);
    border-radius: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.leaderboard div {
    background:rgb(255, 255, 255);
    border: dotted 2px  rgb(255, 150, 38);
    border-radius: 1rem;
    margin: auto;
    text-align: center;
    font-style: italic;
    display: grid;
    grid-template-columns: auto 8vh;
    grid-template-rows: auto;
    margin-bottom: 2px;
}

ul {
    list-style: none;
    padding: 0;
    margin: auto;
}
