.store-container {
    background:  rgb(134, 250, 123);
    border: solid 2px black;
    border-radius: 1rem;
    width: inherit;
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.store-container #storetext {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}
.store-container #colortext {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0;
}

.button-container {
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 4;
    vertical-align: center;
    font-size: small;
}

.propel-container {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 3;
}

.base-container {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 3;
}

.store-button {
    background-color: white;
    margin-top: 10px;
    width: 100px;
    border-radius: 10px;
    margin-left: 10px;
    min-height: 40px;
}

#storetext {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    margin: 0;
}

#d-click {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 6;
}
#d-btn {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 7;
    margin: auto;
}

#reset-btn {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 5;
}

#generatortext {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 6;
}

#generator-btn {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 7;
    margin: auto;
}