#turbine {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
}

#top {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    justify-self: center;
    margin-top: 4%;
}

#bottom {
    grid-column: 1;
    grid-row: 1;
    width: fit-content;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
  }